body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

main {
  flex: 1;
  padding: 20px;
}