.header {
  background-color: #578FCA;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center; /* Függőlegesen középre igazítja a navigációt */
  justify-content: space-between;
  overflow: visible; /* Hogy a kilógó rész látszódjon */
}

.header p {
  color: white;
  font-size: 50px;
  padding: 0;
  margin: 0;
}

/* A Image komponens stílusai */
.headerImageContainer {
  position: relative; /* A kép abszolút pozicionálásához */
  height: 50px; /* A logó eredeti magassága */
  width: auto; /* A kép szélessége automatikusan */
  margin-right: 20px; /* Térköz a logó és a navigáció között */
}

.headerImage {
  position: absolute;
  bottom: -130%; /* Példa: ennyivel lógjon le alul */
  left: 0;
  height: auto; /* Magasság automatikus a képarány megőrzéséhez */
  max-height: 125px; /* A header magasságánál kicsit nagyobb lehet */
  width: auto; /* Szélesség automatikus a képarány megőrzéséhez */
  z-index: 4; /* A header háttérszíne fölött */
}

.container {
  max-width: 1200px;
  margin-left: auto; /* Jobbra tolja a navigációt */
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 5; /* A navigáció a logó fölött marad */
  margin-right: 7%;
}


.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

@media (max-width: 1068px) {
  .header {
    padding: 10px 10px;
    align-items: center;
  }

  .headerImageContainer {
    height: 40px; /* Kisebb magasság kisebb képernyőn */
    margin-right: 10px;
  }

  .headerImage {
    bottom: -5px; /* Kisebb kilógás kisebb képernyőn */
    max-height: 50px;
    visibility: hidden;
  }

  .container {
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    text-align: center;
    margin-right: 10%;
  }

  #navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navLink {
    margin: 0 5px;
  }
}